html, body {
    width: 100%;
    height: 100%;
}

#map-frame, #graphic-layer-map {
    width: 100%;
    height: 75%;
    margin-bottom: 10px;
}
#goto {
    background-color: brown;
    color: white;
    padding: 10px 20px 10px 20px;
    border-style: solid;
    border-radius: 5px;
    display: block;
    margin: 0 auto;        
}
#goto:hover {
    cursor: pointer;
    background-color: darkred;
}
#latLng {
 display: inline;
 background-color: aquamarine;
 padding: 10px 20px 10px 20px;
}